<nav class="pagy-nav pagination flex items-center justify-center space-x-4 my-4">
  <span class="page prev disabled p-2 text-gray-500">&lsaquo;&nbsp;Prev</span>
  <span class="page active bg-indigo-600 text-white p-2 rounded-full">1</span>
  <span class="page next disabled p-2 text-gray-500">Next&nbsp;&rsaquo;</span>
</nav>